[2013-03-28 10:01] teotigraphix opened #1 "Merging multiple classes into one file"

[2013-03-28 10:05] teotigraphix opened #2 "Array literal variable error (resolving)"
at org.apache.flex.compiler.internal.tree.as.ArrayLiteralNode.getValue(ArrayLiteralNode.java:116)

[code]

[2013-03-28 10:09] teotigraphix opened #3 "Cast dependencies added to getClassDependencies()"
[code]

[code]

[2013-03-28 13:08] teotigraphix commented on #2
Fixed, Apache Falcon bug

[2013-03-28 13:08] #2 closed, assigned to nobody

[2013-03-28 13:09] teotigraphix commented on #3
Fixed, miss communication.

commit 87adad177b774f820c2ea9f5ec31adf1db361651

[2013-03-28 13:09] #3 closed, assigned to nobody

[2013-03-30 04:42] leifwells opened #4 "CSS Bug: Not working without space after class name"
When building the code for Lesson 6 in the wiki (https://github.com/RandoriAS/randori-plugin-intellij/wiki/Lesson-6:-Managing-Randori-with-CSS) I typed along with the lesson. Since the IDE doesn't seem to help with CSS my code looked like this:

.simpleApp{

This code wasn't compiled and the correct behavior was not occurring. Changing the code to match the example exactly fixed the issue:

.simpl

[2013-03-30 09:16] teotigraphix commented on #4
@leifwells Currently there is zero css code in the plugin. That means any css auto complete bugs are in IntelliJ.

[2013-03-30 11:23] teotigraphix commented on #4
realized this is not an issue with this module, closing

[2013-03-30 11:23] #4 closed, assigned to nobody

[2013-04-02 10:42] rolandzwaga opened #5 "Develop ANT task for compiler"
A dedicated ANT task for the Randori compiler, so that it can be easily configured from within an ANT build.

[2013-04-02 10:43] rolandzwaga opened #6 "Develop Maven Mojo for compiler"
A dedicated Maven Mojo for the Randori compiler, so that it can be easily configured from within a Maven build.

[2013-04-02 11:35] teotigraphix commented on #5
@rolandzwaga I will probably do this. I have wanted write an ANT task since I was out of diapers.

[2013-04-03 12:29] teotigraphix opened #7 "Unit test resources need correct organization"

[2013-04-07 11:03] rolandzwaga opened #8 "Add support for an Assembly.as in the bundle support"
The SDK should feature an interface called IAssembly, which, if implemented and added to a bundle project is able to define a number of metadata for that particular bundle.

The Assembly class will only be parsed, it will be ignored by the cross compiler.

The Assembly class will be able to determine the output name and version number of the bundle.

Only one IAssembly implementation should be all

[2013-04-07 11:22] rolandzwaga opened #9 "Add support for metadata classes"
The compiler will need to be able to check metadata @compile time, so that typos in metadata can be reported.
A metadata class should implement a particular interface that is part of the Randori SDK.

These classes will only be parsed, so not cross-compiled.

The interface would determine the name and the arguments and their types for a specific metadata annotation, the interface would simply be a

[2013-04-07 14:17] rolandzwaga opened #10 "Class that implements an interface doesn't get output by the cross-compiler"
Create an interface then create a class that implements the interface. Compile or build, and you'll see there is no output.

[2013-04-07 15:00] rolandzwaga opened #11 "Figure out how to build our own builtin.swc"
Currently we're using the builtin.swc as provided by Tamarin, which only contains the base types (so no DisplayList or other FlashPlayer native classes).
We need to figure out how to build this swc ourselves so we can add our own base types for Randori.

[2013-04-07 15:04] rolandzwaga commented on #8
Since it'll be difficult to parse the actual values from a an interface. Perhaps we should drop the interface and simply use metadata annotations.
So, more like this:
[Assembly]
public class Assembly {
  [Name]
  public var name:String = "MyBundleName";
  [Version]
  public var version:Number = 1.2;
}

[2013-04-07 16:17] labriola commented on #10
This is correct behavior at present. Interfaces do not output. Concept does not exist in destination language

[2013-04-07 16:25] teotigraphix commented on #10
@labriola No, its that for some reason a class that implements an interface doesn't output. I think I didn't override something in the ASEmitter, something stupid like an exception.

[2013-04-07 16:30] rolandzwaga commented on #10
@labriola  Exactly, what Mike Schmalle says. Its correct that an interface gets ignored, but any class implementing an interface gets skipped, which is incorrect.

[2013-04-07 16:40] labriola commented on #10
Check. Got it

[2013-04-07 21:13] teotigraphix opened #12 "change mono category to monolithic"

[2013-04-07 21:40] teotigraphix commented on #12
commit 741d3396015d2444be7ba9549f5b34f608292321

[2013-04-07 21:40] #12 closed, assigned to nobody

[2013-04-07 21:42] teotigraphix commented on #1
works as of commit 741d3396015d2444be7ba9549f5b34f608292321

Still need file grouping but, that is another issue

[2013-04-07 21:42] #1 closed, assigned to nobody

[2013-04-07 21:51] teotigraphix commented on #10
@rolandzwaga @labriola I tested this directly and it works; ClassC implements IA

I guess I will have to check the plugin when Fred fixes the FileUtils.

[code]

[2013-04-08 14:32] rolandzwaga opened #13 "Implement AST rewriting"
In order to support plugins that manipulate the AST tree, AST rewriting needs to be implemented.
Basically, ASBlocks needs to be finished and implemented in Randori :)

[2013-04-09 10:42] teotigraphix commented on #10
Issue with new file creation and bug with compiler project.

[2013-04-09 10:42] #10 closed, assigned to teotigraphix

[2013-04-09 11:47] rolandzwaga opened #14 "Let the Randori compiler, optionally, validate class names in Randori CSS and HTML "data-" attributes."
Class names for behaviours, mediators and contexts can be added to the CSS and HTML in a Randori project.
In IntelliJ we'll add code completions to make this easier, but to make the circle complete it would be great if the compiler can actually extract these class names and validate them against the actual definitions.
No idea how feasible this is, but putting the issue in here as a wild idea. :)

[2013-04-09 12:06] martinopic opened #15 "Add gradle build system"
In my opinion this would be better than #5 and #6 gradle is usually regarded as more flexible and modern of both maven and ant, moreover it can easily integrate with both, publish on maven repositories (and using maven dependencies) and be used without installing it throuhg gradle wrapper. Working on it.

[2013-04-09 12:09] rolandzwaga commented on #15
Fair enough, any kind of build integration is great. So if Gradle comes first, I see no problems with that :) Thanks for the effort!

[2013-04-09 12:10] labriola commented on #14
be cautious with this. validation is great but you are beginning to again assume a fixed project with known bounds which is not always the case. further, the injector config can change any of the definitions to an alternate class. just proceed carefully. our goal is large enterprise where the system is not bounded by a single project or compile time decisions

[2013-04-09 12:13] rolandzwaga commented on #14
You are right. Perhaps we should make this one optional, or add the possibility to generate either warnings or errors, depending on what the proejct demands.

[2013-04-09 12:18] labriola commented on #14
yes. also remember that mediators and behaviors could be written directly in js. in which case we have no way to validate but are still valid at runtime. so, moral of the story is... be cautious

[2013-04-09 12:21] rolandzwaga commented on #14
Clear to me. I've changed the main issue to state that these checks should be optional and need to be able to be turned off completely. Well, they should be turned off by default actually.

[2013-04-09 13:21] teotigraphix commented on #15
@martinopic I have never used gradle, what does it take to setup and run?

[2013-04-09 13:29] martinopic commented on #15
Just download and install this (http://www.gradle.org/installation) you need just a 1.5 JDK as it ships with its own groovy library (mostly written in groovy, the build file itself is groovy).

The nice thing is that through gradle wrapper developers just interested in building don't need to install anything (just need a working JVM). I'm working on a randori gradle plugin, realized that I needed

[2013-04-09 15:15] teotigraphix opened #16 "configure() needs to fully flush state of compiler project"
2 stages of implementation
- get configure() flushing state
- get configure() to able to be called once until other configs change, update accordingly

[2013-04-10 19:48] teotigraphix commented on #7
commit f4b1fc50b3c4cf2cd0bee708d4e5ba5908440864

[2013-04-10 19:48] #7 closed, assigned to nobody

[2013-04-10 20:21] teotigraphix opened #19 "Implement JavaScriptMergedFile logic in compiler hook with annotation"

[2013-04-10 20:22] teotigraphix opened #20 "Implement first phase of compile time Annotation metadata"

[2013-04-12 14:56] labriola opened #21 "export="false" and name defaults"
It would be nice if when using export="false", the name defaulted to the full package and class name of the file it was annotating.

Currently, if you mark something export="false" but forget the name, any class using the marked class will not generate.

[2013-04-12 19:09] teotigraphix opened #23 "Fully test JavaScript export"
- global, json, proto
- constructor
- constant

Create one Test class, take out regression tests and add them to this class.

[2013-04-13 11:12] teotigraphix opened #24 "Add simple runtime plugin registration"
This would allow to activate model sorting and analyzing

[2013-04-14 10:00] teotigraphix commented on #15
basic support added, directory structure changed

[2013-04-14 10:00] #15 closed, assigned to nobody

[2013-04-14 15:10] labriola opened #28 "Inner functions fail to generate"
override protected function onRegister():void {

[code]

  }

Outputs as:

mediators.IndexMediator.prototype.onRegister = function() {
                ;
                for (var i = 0; i < 5; i++) {
                                showMe(i);
                }
};

[2013-04-14 17:15] teotigraphix commented on #28
commit 3b12d06e817b58af0bda85d77012a97b5b60665e

[2013-04-14 17:15] #28 closed, assigned to nobody

[2013-04-14 21:49] labriola opened #30 "Possible scope delegation issue"
Consider this class. In the constructor, I invoke methodA of this class and pass method B. I also create a new Delegate test class and invoke method, passing method B but this from the ‘outside’ of the class.

[code]

Here is the generated constructor:

[code]

So, the first time it wraps methodB in a delegate. In the second example it doesn’t. I have been looking at code too long so maybe I am wr

[2013-04-15 11:24] teotigraphix commented on #21
@labriola this doesn't make sense from export = false and use the annotated qualified name. Can you give a concrete code example.

[2013-04-15 12:32] labriola commented on #21
Let's say I have this class. Note the name attributes is set to google.maps.Map which is _exactly_ the same as the package and class already.

[code]

Elsewhere in my code, I say:

[code]

The exported JavaScript is (correctly)

[code]

However, I have to manually set the name attribute of the class the same as the class and package as noted above. If I don't set the name attribute, the file where

[2013-04-15 12:39] labriola commented on #30
Please note that when looking into this issue, we intentionally do _not_ wrap anonymous inline functions today and should continue to ensure we do not to be compatible with normal ActionScript scope delegation

[2013-04-15 12:44] teotigraphix commented on #30
@labriola there is no way this will change mike, its completely different logic that looking at method call arguments.

myPromise.then(foo.resultHandler, bar);

My current fix for member access is wrapping foo.resultHandler. Is this correct or not? It wasn't doing this before, but there are two tests that fail now because I have changed member access.

If this is NOT correct, I will have to use cu

[2013-04-15 13:04] labriola commented on #30
Mike,

Okay, its likely just my misunderstandings of the internals but these all seem like method calls to me. I completely trust you so just to clarify, this is existing behavior which should be preserved:

[code]

becomes

[code]

However today:

[code]

yields:

[code]

and this should be wrapped and delegated to the scope in which this function exists.

[code]

Agreed?
Mike

[2013-04-15 13:23] teotigraphix commented on #30
Yes, agreed. anonymous functions are not even in the equation.

All I mean was there are two instances in the demo app that will get delegates now on the Promise.then() call. Maybe they work right now because scope was not an issue.

That is all I am saying. But the above IS correct, I am ONLY transforming things in the method call argument container.

[2013-04-15 14:44] labriola commented on #30
I would not expect any changes in the demo app. can you point me to what would change?

[2013-04-15 14:54] labriola commented on #30
Just looked through everything. If the changes you are seeing are both where we are calling a parser, TargetsService for example, then I agree. We were lucky because the scope didnt matter. If its something else,let me know

[2013-04-15 14:56] teotigraphix commented on #30
Yes the two cases are LabService and TargetService "parseResult" will be wrapped in both cases.

[2013-04-15 14:57] labriola commented on #30
Perfect, sounds good to me

[2013-04-15 14:59] teotigraphix commented on #30
Below is the new output;

[code]

[2013-04-15 15:00] labriola commented on #30
No, that would be a problem. Look at the example I showed above. The delegation needs to be to the scope where the method exists.

[code]

[2013-04-15 15:02] teotigraphix commented on #30
ok, I knew I was missing something and this was obvious.

I can fix that easily right now.

[2013-04-15 15:12] teotigraphix commented on #30
that is settled, fixed. scope of the Function's Type is passed as the 1st argument in the delegate.

[2013-04-15 16:20] teotigraphix commented on #30
commit 4f78366ac2afa39aa574f4ba40a9962b74c437c3

[2013-04-15 16:20] #30 closed, assigned to nobody

[2013-04-15 16:20] teotigraphix commented on #21
commit 4f78366ac2afa39aa574f4ba40a9962b74c437c3

[2013-04-15 16:20] #21 closed, assigned to teotigraphix

[2013-04-15 17:43] teotigraphix commented on #24
impl in 0.2.4

[2013-04-15 17:43] #24 closed, assigned to teotigraphix

[2013-04-15 17:44] teotigraphix commented on #16
This will be fixed when Workspace is implemented in the Plugin.

[2013-04-18 14:26] labriola opened #32 "Incremental compiler may still be outputting more than needed."
This is more of an investigation than an issue. If I change TargetsMediator in the demo with the newest compiler version, it regens TargetsMediator, but also TargetsService, GenericJSONParser, HMSSBus and copies both libs.

Those are all the files directly referenced via a concrete type in TargetsMediator. Wondering if this is a bug or expected.

[2013-04-18 14:49] teotigraphix commented on #32
@labriola this is expected. and now that I think of it being away from the code a while, seems wrong. I was using direct dependencies. It seems like I need reverse dependencies.

Obviously right now we are not going to have a smart enough compiler to know what changed in the TargetsMediator, but what if you changed a method name, simple compile would say recompile all classes that use this class.

[2013-04-18 14:58] labriola commented on #32
my take is that its backwards. i dont think we need to compile or dependencies, i think we need to compile anything that is dependent upon us

[2013-04-18 15:03] teotigraphix commented on #32
Right, its reverse dependencies. Dyslexia, I love it. In my head I knew what I wanted, what actually happened was another story.

Do you want this fixed before you tag a release?

[2013-04-18 15:06] labriola commented on #32
No, I think we can still get something out. Then lets try to get this issue fixed and this one I pushed to Fred : https://github.com/RandoriAS/randori-plugin-intellij/issues/51 for the next release. I think they are high priority, but I don't think we need to stop current release plans.

[2013-04-18 15:11] teotigraphix commented on #32
I already have this fixed. As far as the other issue, I have no idea what fred is doing now. The IntelliJ build process is still foreign to me and I still think it sucks we have to wait for its 10 seconds on a rebuild when it takes our compiler 2 seconds.

So I will just push this and merge it since I have it done.

[2013-04-18 15:17] labriola commented on #32
So I am getting sub 1 second build times. When are you seeing 10?

[2013-04-18 15:39] labriola commented on #32
let us know when you have this merged in. We will incorporate it into the latest and greatest

[2013-04-18 16:11] teotigraphix commented on #32
commit 5868aff1529061771bed71f6697179e79204625

[2013-04-18 17:10] labriola commented on #32
Mike,

I am still seeing the same behavior with the latest code:

If I change TargetsMediator in the demo with the newest compiler version, it regens TargetsMediator, but also TargetsService, GenericJSONParser, HMSSBus and copies both libs.

[2013-04-18 17:20] teotigraphix commented on #32
I have nothing to do with the libs being copied, that is the plugin still.

Are you sure, I am for sure using reverse dependencies Mike. So the fact that HMSSBus is there is very fishy.

[2013-04-18 17:20] labriola commented on #32
Roland had the same result when he tried

[2013-04-18 21:01] teotigraphix commented on #32
https://github.com/RandoriAS/randori-compiler/pull/34

[2013-04-18 21:01] #32 closed, assigned to nobody

[2013-04-19 21:25] labriola opened #35 "Classes which are marked as export false but provided a name do not get correctly inserted in injection data"
Take for example this class definition:

[code]

If I instantiate TimeSignal, I correctly get:

[code]

However if I ask to Inject it:

[code]

I get this in the injection data:

[code]

where I would expect:

[code]

It's possible that this is running into a contradiction with other rules we explicitly setup. If that's the case, let me know and we can figure out the right path forward.

[2013-04-19 21:59] teotigraphix commented on #35
Nope;

Without even looking at code I bet I can guess exactly what is happening. I created a Utility method that takes care of resolving export and type names. The problem I see here is that the FooterEmitter is not using the correct name/type resolver method.

Sorry about that.

[2013-04-19 22:17] labriola commented on #35
No worries. Just wanted to make sure it wasnt a problem I caused by some other instruction

[2013-04-20 09:50] teotigraphix commented on #35
commit 82fc713ed93d7a52fc1b5b665911473081d64b65

[2013-04-20 09:50] #35 closed, assigned to nobody

[2013-04-24 20:45] labriola opened #37 "Name attribute of JavaScript annotation not being correctly respected with static classes"
Let's say I have a class like the following:

[code]

When I use this class in ActionScript, I would use it like:

TheStaticClass.blah();

I would expect though than on an export, it would use the name attribute, so I would expect code that looked like this in the JS:

my.name.is.Mike.blah();

Instead I get this:

TheStaticClass.blah();

So, it seems to be ignoring the name in these cases. This is

[2013-04-30 08:09] teotigraphix commented on #37
Actually, I think this has to do with not taking the package name into account.

I am going to tackle the other issue this week that is just testing all of this stuff in one test class, then I can nail down all expected functionality

[2013-04-30 08:48] teotigraphix commented on #37
commit  5ebdbe8

This didn't break anything Mike, it just wasn't implemented in MemberAccess

[2013-04-30 08:48] #37 closed, assigned to nobody

[2013-04-30 15:18] jonbcampos opened #40 "Moving around classes"
I moved some classes around (behaviors.css out of src) along with source code (went from src.js.{folders} to src.{folders}) and my imports seemed to disappear. The randori.\* stayed. The rest were wiped out.

[2013-04-30 21:02] rolandzwaga opened #41 "Cross-compile parseInt() properly"
Using this article as a reference:

http://jslinterrors.com/missing-radix-parameter/

It might be a good idea to emit parseInt() with the second argument in case it isn't defined in the AS3 sources.

[2013-04-30 21:59] teotigraphix commented on #41
ok, checked the article, seems easy enough.

I think I will create some type on 'plugin' for this type of stuff, IE parameter checks, type definition usage etc. That way adding things like this in the future will be easy

[2013-04-30 23:27] teotigraphix commented on #40
This has to do with the plugin. I can't fix this in relation to the compiler.

[2013-04-30 23:31] jonbcampos commented on #40
Sorry. I just guessed where it needed to go.
On Apr 30, 2013 6:27 PM, "Michael Schmalle" notifications@github.com
wrote:

[2013-05-02 09:26] teotigraphix commented on #41
commit 4fb4861

[2013-05-02 09:26] #41 closed, assigned to teotigraphix

[2013-05-02 09:50] teotigraphix commented on #23
@labriola Mike, I am working on these tests right now. It has occurred to me, that if you spent 5 minutes writing a comprehensive linear list of functionality of this tag, then I could just test every scenario.

Since I am not actually writing these apps right now, its more like I am guessing since we don't really have a spec sitting around.

[2013-05-08 09:29] gert789 opened #43 "using for each() to loop trough an array"
When looping trough an array using for each(), Randori puts the array key in the variable, instead the corresponding value.

[code]

The console output will now be

[code]

Using the jQuery foreach function works fine.

[code]

Output:

[code]

[2013-05-08 09:50] teotigraphix commented on #43
Yes, this was something that was glossed over in the initial implementation of the compiler, will be fixed.

[2013-05-08 11:06] teotigraphix commented on #43
commit 2ee9851

[2013-05-08 11:06] #43 closed, assigned to nobody

[2013-05-08 11:07] teotigraphix commented on #23
@labriola Mike PING! if you want this to work good, I need a list from a developer. :8ball: I actually have some time again, so can you get me this.

[2013-05-08 13:03] teotigraphix commented on #20
@labriola @rolandzwaga I cannot really expect to get this done until either the builtin.swc contains the native Annotation types OR the randori-framework contains these definitions.

Please give me a realistic update of which one you guys are going todo.

[2013-05-08 13:04] teotigraphix commented on #40
This is not relevant to the compiler, so closing it as stated, belongs in the plugin issues.

[2013-05-08 13:04] #40 closed, assigned to nobody

[2013-05-08 13:05] teotigraphix commented on #14
@rolandzwaga Are you saying I have to parse css and validate? I am a bit confused.

[2013-05-08 13:06] teotigraphix commented on #11
@labriola @rolandzwaga PING :8ball: This needs a reality check whether you plan on putting time into it within the next 2 weeks or not. See issue#20 comment.

[2013-05-08 13:07] teotigraphix commented on #9
this is issue#20, so I am closing this

[2013-05-08 13:07] #9 closed, assigned to teotigraphix

[2013-05-08 13:09] teotigraphix commented on #8
@labriola @rolandzwaga I need a real list or API definition for this. Please post the API draft here.

[2013-05-08 13:12] rolandzwaga commented on #14
No, this is handled in the IDE for now, no need for compiler functionality. I'm closing this issue for now.

[2013-05-08 13:12] #14 closed, assigned to nobody

[2013-05-08 14:07] labriola commented on #23
it will be a few days. still at max and trying to juggle a number of things

[2013-05-08 16:08] bschmidtke opened #46 "[JavaScript(export="false", name="")] -- generates invalid JS"
I created a class like so:

package {

[code]

}

The generated JS code referencing this method looks like the following:

.bar();

Should we get a error about this?

[2013-05-08 17:52] teotigraphix commented on #46
The problem is we are half way into getting real Annotation support that would give a warning about this issue because the point of typed metadata is knowing when something like this is not fulfilled.

I will wait until Mike and Roland figure out what to do with the builtin.swc before I just start adding warnings for annotations. :)

[2013-05-08 18:30] teotigraphix commented on #46
Also, by no means am I saying this does **not** need a warning, I just don't want to add code into the compiler when I know its going to be taken care of on a higher level.

There is one other thing to think about to, is this just a waring/error or should we make it still compile by using the the qualified name of the class instead. Mike, Roland?

[2013-05-08 18:40] labriola commented on #46
No, regardless of where it is handled, I think this is warning. If a name is passed, we should use it. We can warn that its perhaps a dumb name :) but I think its a warning when we have annotations. Other than that the compiler is doing what's expected

[2013-05-08 18:41] labriola commented on #23
Working on this now, hope to have you a write up of the tag posted here before my day is over

[2013-05-08 20:20] bschmidtke opened #47 "RegEx literal variable improperly compiled"
Correct:
ActionScript
var fooPattern:RegExp = new RegExp("foo");

generates JS:
 var fooPattern = new RegExp("foo");

Incorrect:
ActionScript
var barPattern:RegExp = /bar/;

generates JS:
 var barPattern:RegExp = bar;

Resulting in "'bar' not found" during code execution.

[2013-05-08 22:41] teotigraphix commented on #47
Ok, this is a weird thing with the Falcon framework and I know exactly where this bug is.

[2013-05-08 22:55] teotigraphix commented on #47
commit  7812fc3

[2013-05-08 22:55] #47 closed, assigned to nobody

[2013-05-14 23:02] labriola commented on #23
Created a wiki page with my expectations for each of these tags. Was a good task as a few things don't work as expected today so we can discuss when you have time

https://github.com/RandoriAS/randori-plugin-intellij/wiki/JavaScript-Compiler-Annotations

[2013-05-14 23:07] teotigraphix commented on #23
Thanks for this Mike! That is exactly what I was looking for.

[2013-05-14 23:13] teotigraphix commented on #23
BTW

[code]

During my tests I might actually be able to pull this inline object definition off. It depends if I have the skills.

[2013-05-15 11:11] teotigraphix opened #50 "Allow name attribute to rename a rendered class"
When export is true and the name attribute is used, let the compiler generate the new name and package for the class.

[2013-05-15 11:38] teotigraphix commented on #23
commit 9d5b11e2f0fa533c3dd90f85b49e5de1d359e8b1

[JavaScript] is fully tested, if any bugs come up, create a new issue.

[2013-05-15 11:38] #23 closed, assigned to teotigraphix

[2013-05-15 11:43] teotigraphix commented on #46
I have a test for this if/when we want to change it, but for now if the name="", that is exactly what the compiler produces.

[2013-05-15 11:43] #46 closed, assigned to nobody

[2013-05-16 17:44] rolandzwaga opened #53 "Allow JavaScriptConstructor factoryMethod to propagate ctor arguments"
We need some way to tell the compiler to pass the arguments send to the AS3 constructor to the factoryMethod in the JS output.
I.e. if we have a JavaScriptConstructor annotation like this:
[JavaScriptConstructor(factoryMethod="MyClass.create()")]

And an AS3 constructor like this:

var obj:MyClass = new MyClass("text", 1, true);

In this case we need to be able to tell the compiler to add the ctor

[2013-05-16 18:23] teotigraphix commented on #53
Ok, I think I understand what you wanted.

Using the var args ... I am replacing the ...args with the passed arguments. The replacement is smart enough that it is only looking for the ... and replaces everything inside the parens.

So a class annotated with;

[code]

Using in the client class;

[code]

Will produce the following, is this what you are after? If it is I can commit this change with t

[2013-05-16 18:56] teotigraphix commented on #53
commit      62d5326

[2013-05-16 18:56] #53 closed, assigned to teotigraphix

[2013-05-16 19:40] renaun opened #55 "Feature Request: Generate Basic HTML Wrapper"
Have a flag to create a basic html wrapper for application using randori-compiler that are not using randori framework. The index template could be in the sdk repo and changable.

So by default it looks for index.template.html in the randori-sdk or has a override flag.

Create wrapper and use default:
-html-wrapper
Create wrapper based on template.html:
-html-wrapper=/path/to/template.html

[2013-05-16 19:44] teotigraphix commented on #55
@labriola can you post here when you get this in the repo so I would know where to look. This will also be a category in the Bundle when the framework is archived. So I envision

[code]

I need that file structure for it to be easy to add.

[2013-05-16 19:45] renaun commented on #55
I'll give an example of what goes into the template.html once we have worked that with the updates @labriola is doing

[2013-05-16 19:45] labriola commented on #55
I will propose back some thoughts here when the next release is done. We should make sure we mirror what we are thinking about in the plugint oo

[2013-05-16 19:46] labriola commented on #55
We need to be cautious though. What a Randori project needs is different than what Renaun needs presently. So, i urge caution until we think this through

[2013-05-16 19:48] teotigraphix commented on #55
@labriola  Seeing as the Bundle API is completely flexible, this is working out exactly the way I had envisioned with libraries/container/category IE randori-framework/html/template.

I hope you can see this now Mike. :)

As far as the plugin, following the above guideline, it will be as easy as it is for them copying the js right now

[2013-05-16 19:50] labriola commented on #55
@teotigraphix that would imply a different SDK for Renaun's use and people building Randori apps. Perhaps thats what we do. I am just urging discussion first

[2013-05-16 19:50] teotigraphix commented on #55
@labriola I only follow, I assume you are talking about what goes in the html template? I have nothing to say about this as you know.

[2013-05-16 19:57] teotigraphix commented on #55
@labriola Ah you mean having an html template that is configurable? Randori doesn't need that is what you are saying?

[2013-05-16 19:57] renaun commented on #55
Well if its just guice needed for bootstrapping the non-mvc app isn't still part of the sdk?

Maybe I don't understand Randori all the way but the examples I have seen show a basic html doc with:
    <script type="text/javascript">

[code]

So a only guice one might be just that basic html file with a simple one/two liner bootstrapper that loads the main class of the app.

[code]

That does imply

[2013-05-16 19:59] labriola commented on #55
@teotigraphix I am just saying Renaun's use case is cool, it just wasnt the one we were building for so I want to support his and the app case. Just want to do so elegantly.

@renaun I agree, although we might want to defer the Guice call even as right now that will happen on browser start before the DOM is ready which may throw people for a looop

[2013-05-16 20:04] renaun commented on #55
@labriola agreed and that can be part of the template so ppl get an out of the box compile -> run way of doing things. Then they can go back and add/change what they need specific to their app.

[2013-05-17 06:08] renaun opened #57 "Using "-source-path" compiler argument doesn't seem to work."
randori.sh - Script that calls compiler
src/SomeClass.as
src_other/SomeClassB.as

The call in randori.sh looks like this:
java -jar /path/to/randori.jar randori.compiler.clients.Randori -library-path /path/to/swcs/builtin.swc -source-path ./src -js-classes-as-files=true -output ./out

I have tried different values in the -source-path:
-source-path=./src
-source-path=src/
-source-path=/full/path/sr

[2013-05-17 10:24] teotigraphix opened #58 "Constant not generated as a constant field and initialized"
-

[2013-05-17 10:25] teotigraphix opened #59 "constant transformed correctly but having instance scope"
[code]

[2013-05-17 10:51] teotigraphix commented on #59
commit      fed9c9c

[2013-05-17 10:51] #59 closed, assigned to teotigraphix

[2013-05-17 10:51] teotigraphix commented on #58
commit      fed9c9c

[2013-05-17 10:51] #58 closed, assigned to teotigraphix

[2013-05-17 10:56] teotigraphix commented on #57
@renaun  This is not an error I don't believe. This implementation is from the Falcon compiler framework and thoroughly tested.

There has to be something we are missing with the relative root. I guess I would need an exact directory and compiler structure to know what is going on. You are the first ever to run into any problems with core compiler arguments.

All File paths are run through the fil

[2013-05-17 11:04] teotigraphix opened #61 "let compiler to load swcs if the -sdk-path is present"

[2013-05-17 12:33] teotigraphix commented on #61
commit 3532c92

[2013-05-17 12:33] #61 closed, assigned to teotigraphix

[2013-05-17 17:12] renaun commented on #57
Here is some code:
https://dl.dropboxusercontent.com/u/613378/CompilerSourcePathTest.zip

I have:
path1/HelloWorld.as
path2/SomeClass.as

I run the compiler from ./ with a source-path of ./path1

I expect it to just compile the HelloWorld.as class but it does something else. Is my expectation off?

[2013-05-17 17:25] teotigraphix commented on #57
Well I get what you are saying but this has to do with how you are calling the compiler with relative paths.

Some how the class loader of Java is thinking the execution is happening not where you are adding the relative paths. If you are using relative paths, my first guess would be that it must be from the same folder the jar of the compiler is located. Which this does not look like that.

[2013-05-17 17:27] renaun commented on #57
I tried full path too and it didn't work, so instead of ./path1 I had /path/to/path1

[2013-05-17 17:35] teotigraphix commented on #57
I'm thinking there is some other error going on that is not getting logged.

I will look into it.

[2013-05-17 17:36] teotigraphix commented on #57
It doesn't say anything in the console right? Produces nothing correct? Or do you see ...seconds or something like that.

[2013-05-17 17:39] teotigraphix commented on #57
@renaun Hey,

[code]

Is there any reason you are leaving out the equals sign?

Use this and tell me;

[code]

[2013-05-17 17:40] teotigraphix commented on #57
@renaun If the above still doesn't work, try putting quotes around all the strings just for one last test.

[2013-05-17 17:44] renaun commented on #57
Try all those combinations, still no luck. Here is what my call looks like:

CompilerSourcePathTest renaun$ ./randori.sh
java -jar /Code/WebRelated/RandoriRepos/randori-compiler-0.2.4.2/randori.jar randori.compiler.clients.Randori -sdk-path=/Code/WebRelated/RandoriRepos/randori-sdk/ -source-path=/Code/WebRelated/RandoriExamples/CompilerSourcePathTest/path1 -js-classes-as-files=true -output ./rando

[2013-05-17 18:09] rolandzwaga opened #65 "package level methods don't get compiled"
If I add a package level method like this:

[code]

no output is generated.

[2013-05-17 18:12] teotigraphix commented on #65
Its not implemented as of now, only class compilation units. Will put it on the todo list.

[2013-05-17 18:13] labriola commented on #65
More specifically, the function definition is output, however, the function's body is not. There is also some extra code generated which could be trimmed down as, as mike indicated, its not really a class

[2013-05-17 18:14] labriola commented on #65
@teotigraphix , once we have that implemented, there are a few things in the compiler annotations doc that should also map onto package level functions as well. Also, please note, i removed one use case from the annotations document which is setting [JavaScriptMethod(mode="global")] This will be replaced by having the package level functions working

[2013-05-17 18:16] teotigraphix commented on #65
@labriola So using the above code as an example, what is the exact java script code that should be generated and the .js file name?

[2013-05-17 18:21] labriola commented on #65
if (typeof mediators == "undefined")
    var mediators = {};

mediators.test= function() {
  var i = 0;
};

mediators.test.className = "test";

mediators.test.getClassDependencies = function(t) {
    var p;
    return [];
};

mediators.test.injectionPoints = function(t) {
    return [];
};

[2013-05-17 18:22] labriola commented on #65
the js file name would be test.js and in a mediators folder if using single file expansion

[2013-05-17 18:26] labriola commented on #65
@teotigraphix the terminology above is code smell as we now have className for a function, getClassDependencies for the function's dependencies and there will never be injection points..... so, maybe in some far off refactor we might need to globally discuss names of those properties, but the code above should be good

[2013-05-17 18:44] teotigraphix commented on #65
@labriola

"now have className for a function, getClassDependencies for the function's dependencies and there will never be injection points....."

Are you talking about the footer generation? If so, I can easily omit that from a Function compilation unit.

[2013-05-17 19:08] labriola commented on #65
We need to have it for things to class load. Just lamenting the names I chose :)

[2013-05-17 20:07] labriola commented on #65
Mike, bonus round, if you get far enough take a look at how global interacts with package level functions in the annotation wiki

[2013-05-17 20:15] teotigraphix commented on #65
I already have all this working. So my head is a bit fired, can you just explain in laymans terms what you are talking about?

Like I said, I have package level functions being generated now. We do need to talk about the footer emitter, I had to implement another one based off of Function Node, not ClassNode like the first one.

[2013-05-17 20:26] rolandzwaga commented on #65
@teotigraphix have a look at the wiki page:
https://github.com/RandoriAS/randori-plugin-intellij/wiki/JavaScript-Compiler-Annotations
At the part below 'Package Level Function'
The comment 'Any attempted use of the package level function marked as global inside of ActionScript code should ideally raise an error.' is what Mike is refering to.
The instance where a package level method is annotated w

[2013-05-17 20:42] teotigraphix commented on #65
ok, makes sense.

So what you are saying is, the above example if annotated with a mode=global, the compiler would report a Problem because its usage is prohibited when visiting a FunctionCallNode.

[2013-05-17 20:45] labriola commented on #65
So, just to be clear, if I have this:

package mediators {
  [JavaScript(mode="global")]
  public function test():void {
    var i:int = 0;
  }
}

The output should be:

var i:int = 0;

and if someone tries to call:

test();

the invocation of test() should throw an error as test() won't exist.

[2013-05-17 20:52] teotigraphix commented on #65
ok, that is not what I was thinking but is clear now with the example.

Although it will probably end up like;

var i = 0;

The compiler doesn't like emitting types for javascript. :)

[2013-05-17 20:53] labriola commented on #65
details ;)

[2013-05-17 20:57] teotigraphix commented on #65
This will be working by Monday (export=global), package functions already work.

We need to discuss legal footer data IE injections. Class deps still get round up by types and the new operator in the function scope block, so that hasn't changed. And think about if you want to rename the className.

[2013-05-17 21:00] labriola commented on #65
Injections can always look like this:

mediators.test.injectionPoints = function(t) {
return [];
};

It will never have injectionPoints but having the function there for now will make us handle one less case in the code

[2013-05-17 21:03] teotigraphix commented on #65
ok, that is how it is right now, perfect.

This is what is being generated in the test right now;

[code]

[2013-05-17 21:05] labriola commented on #65
As long as MyFunction is the name of your function, it looks good

[2013-05-17 21:10] teotigraphix commented on #65
This is the as;

[code]

[2013-05-17 21:11] labriola commented on #65
Looks good to me. My comments on naming (e.g. className) are low priority and I dont think we will handle them soon. This looks great though

[2013-05-17 21:17] teotigraphix commented on #65
Well, I'm done. :)

For this;

[code]

We now get;

[code]

Great designs yield great efficiency.

[2013-05-17 21:18] labriola commented on #65
Good, now get me global mode and our unit test runners with Karma will all work flawlessly

[2013-05-17 21:19] teotigraphix commented on #65
What do you mean global mode? Isn't that what I just showed you I finished?

[2013-05-17 21:20] labriola commented on #65
Sorry, was just saying I cant wait to have the build in hand. We are good

[2013-05-17 21:23] teotigraphix commented on #65
I can get this today, one question. How is this global generated? All in one file, right now I am doing an individual file.

How should this work, am I missing something? Or are you just going to use the mono and exclude args I have in the compiler now?

[2013-05-17 21:24] labriola commented on #65
Should follow the same rules as classes. So if we are exporting multi-file it would be a file per function. If we are in monolithic mode, they can be sorted with the other global stuff you do today.

[2013-05-17 21:36] teotigraphix commented on #65
Ok that already works, just need to check if I am not casting something during the global filter.

[2013-05-17 21:58] teotigraphix commented on #65
Unless anything else comes up, it needs to be a separate issue, this is closed

commit 979faa7

[2013-05-17 21:58] #65 closed, assigned to teotigraphix

[2013-05-19 15:59] jonbcampos opened #67 "improper translation between AS3 -> JS with getters and setters"
I have this line of code:

[code]

Which turns into this line of code:

[code]

But should be:

[code]

[2013-05-19 16:06] labriola commented on #67
Jon. I agree it looks like a bug but are you sure about your suggested correct output. Looks even more wrong

[2013-05-19 16:07] jonbcampos commented on #67
@labriola well it can be whatever you think. basically I was just thinking the getter should get called instead of the setter

[2013-05-19 16:09] labriola commented on #67
Jon. Really look at what you wrote though. You are assigning to a getter. I wasn't you to edit so there its no confusion on Monday and mike can tackle it

[2013-05-19 16:11] labriola commented on #67
Never mind. I was mis interpreting your code

[2013-05-19 16:11] jonbcampos commented on #67
well I guess it should be

this.selectedMovieModel.get_selectedMovie().similars = value;

[2013-05-19 16:12] labriola commented on #67
No. On second thought go review. Your output doesn't match your as codes intention

[2013-05-19 16:15] labriola commented on #67
your actionscript code sets list.data with the data from .... similars.

why would your javascript code set it? just look at your as versus proposed js for a moment. they are night and cheeseburger

[2013-05-19 16:18] jonbcampos commented on #67
I'm not sure what you're going for.... nevermind. I see that I copied the wrong segment of code. editing.

[2013-05-19 16:19] jonbcampos commented on #67
@labriola edited

[2013-05-19 16:20] labriola commented on #67
perfect. thanks. @teotigraphix is going to love you for this one ;)

[2013-05-19 16:30] jonbcampos commented on #67
@labriola my first thought was that I should change my coding style but then I thought that this should be supported.

[2013-05-19 16:33] labriola commented on #67
it should be fixed, but in the short term you see the workaround, yes?

[2013-05-19 16:35] jonbcampos commented on #67
I do but I'll probably wait. This is the second change necessary for completion. Beyond these things everything is done with the demo. (And since it's a demo it is lower on the priority scale)

[2013-05-20 11:26] teotigraphix commented on #67
commit 1b08e7e

[2013-05-20 11:26] #67 closed, assigned to nobody

[2013-05-20 19:35] sgriffith opened #69 "Using Assignment Operators with Properties causes a runtime error."
Reposted from randori-sdk issues:

A runtime error occurs when I use an assignment operator with a property. The application compiles successfully even though an error occurs in the generated javascript.

the following Actionscript code:

protected var _x:Number = 0;
public function get x():Number
{
return _x;
}
public function set x( value:Number ):void
{
_x = value;
}

x += 5

generates the foll

[2013-05-20 19:38] teotigraphix commented on #69
BTW, this is not a production bug perse', its an implementation bug. The compiler is generating the correct code for what it thinks is going on, its that this is an edge case where transforming variables into functions has to be worked around.

Since the getter isn't returning a reference, its returning the value, this is where you are getting the error in the browser. This needs to be discussed @

[2013-05-20 19:41] rolandzwaga commented on #69
@labriola @teotigraphix would this be acceptable output:

this.set_x(this.get_x() + 5) ?

[2013-05-20 19:42] teotigraphix commented on #69
yeah I was thinking the same thing, but this opens up a huge can of worms because ALL assignment operators need to be treated with this solution.

[2013-05-20 19:45] rolandzwaga commented on #69
so, that means +=, -=, *=, |=, &=, right?

[2013-05-20 19:45] rolandzwaga commented on #69
yet, only when used in combination with a getter

[2013-05-20 19:50] rolandzwaga commented on #69
ow, and also only _compound_ assignment operators, right? regular operators don't apply to this issue, imho
since 'this.get_x() + 5' won't throw an error.

[2013-05-20 20:11] teotigraphix commented on #69
yeah its only compound assignment since you "need something to pass the new value to".

[2013-05-20 20:11] teotigraphix commented on #69
now that I think about it, unary stuff might be in peril as well :) (inc/dec -- ++)

[2013-05-20 20:13] rolandzwaga opened #70 "When an optional parameter's default value is defined as 'undefined', it should be omitted from the output"
In JavaScript there is no such thing as a default value for a method argument. Some JS frameworks do define default values, but these are assigned by the framework itself when the argument isn't passed in.
In AS3 we still need to generate a method that defines all of the possible arguments, but we need to be able to just set the default argument to 'undefined' and have the compiler just ignore tha

[2013-05-20 20:15] rolandzwaga commented on #69
Yea, I'm afraid you're right actually. So you were right about that can of worms...

[2013-05-20 20:21] teotigraphix commented on #69
I think I am versed enough in the compiler(I might have to ask to original developer) That I might have a mix master mike solution for this that is not complicated. We will see. :8ball:

[2013-05-20 20:35] rolandzwaga commented on #70
Actually, to change into a more general discussion about optional arguments. Currently, optional arguments get satisfied whithin the method body, right?
So, this method:
function myMethod(str:String='bla'):void;
gets called like this:
myMethod();
and in the generated method there is this in the body:

if (str == null) {
  str = 'bla';
}

(Or something along those lines)

The way SharpKit handles t

[2013-05-20 20:36] rolandzwaga commented on #69
I believe in you :)

[2013-05-20 23:12] teotigraphix commented on #70
Hmm, sounds like more work. :)

[2013-05-21 14:50] teotigraphix commented on #69
commit      a7471bd

[2013-05-21 14:50] #69 closed, assigned to nobody

[2013-05-21 14:51] teotigraphix commented on #57
I am closing this as its not a bug right now. We are bound to what the current compiler config framework will accept for paths.

[2013-05-21 14:51] #57 closed, assigned to nobody

[2013-05-23 16:57] rolandzwaga commented on #11
Ok, I figured out a way to actually get this working using the Tamarin sources for the native types, compc and some really dirty hacking. But, I have a way of creating this stuff, which even still works in Randori.
Next up will be to create a decent workflow for creating this.

[2013-05-23 16:57] #11 closed, assigned to nobody

[2013-05-23 16:58] rolandzwaga opened #76 "Create a workflow for generating a Randori specific builtin.swc"
A builtin.swc that leaves out all Flash specific classes and includes the annotion base classes by Mike S.
We'll need some build scripts and whatnot to make this happen.

[2013-05-23 17:21] teotigraphix commented on #76
@rolandzwaga so this build stuff will be in the randori-sdk repo? Since that is where the builtin.swc needs to be anyways.

[2013-05-23 17:27] rolandzwaga commented on #76
No, we have a nice tools repository for such things :)

https://github.com/RandoriAS/randori-tools/tree/develop/RandoriBuiltin

[2013-05-23 17:27] #76 closed, assigned to rolandzwaga

[2013-05-28 19:37] teotigraphix commented on #19
commit 4ba7920

[2013-05-28 19:37] #19 closed, assigned to nobody

[2013-05-28 19:39] teotigraphix opened #79 "explicit this not generated correctly with same name as local variable or right side"
[code]

[2013-05-28 20:38] teotigraphix commented on #79
@labriola I have tested this 3 different ways. Are you using the plugin? If so this is probably fixed now since the compiler code is light years a head right now with fixes.

Did you find this in the plugin?

[code]

produces;

[code]

As far as I can see, this has been fixed.

[2013-05-28 20:45] labriola commented on #79
I believe I can replicate with the command line compiler. Let me try

[2013-05-28 20:49] labriola commented on #79
Not able to replicate via the command line latest. Interesting. Okay close this for now and if I find a replication case I will open a new ticket

[2013-05-28 20:49] #79 closed, assigned to teotigraphix

[2013-05-29 10:59] teotigraphix commented on #50
commit 4944a54

[2013-05-29 10:59] #50 closed, assigned to teotigraphix

[2013-05-29 10:59] teotigraphix commented on #16
not a bug, workspaces are not implemented in v1

[2013-05-29 10:59] #16 closed, assigned to nobody

[2013-05-29 11:29] teotigraphix opened #83 "parseInt()"
@rolandzwaga Now that we are building the bultin.swc, when all is implemented do I take out the hack for parseInt()?

IE adding null for radix

[2013-05-29 11:44] rolandzwaga commented on #83
Eventually, yea, I guess in the builtin we can set the default radix to 10 instead of null.

[2013-05-29 14:04] labriola commented on #83
that wont work unless mike also implements the code that does default assignment in method invocation. built in is just another shim. it contributes no code at runtime

[2013-05-29 14:07] rolandzwaga commented on #83
Mike has just implemented default assignment in method invocation, that's why he asked this question, I'm guessing :)

[2013-05-29 15:27] teotigraphix commented on #70
commit c5cdafd

[2013-05-29 15:27] #70 closed, assigned to teotigraphix

[2013-05-29 15:27] teotigraphix commented on #83
commit c5cdafd, its safe right now using the actual default arg logic, it places 0 until we use the new builtin.swc with rolands change

[2013-05-29 15:27] #83 closed, assigned to nobody

[2013-06-03 00:52] peteshand opened #86 "Static classes compile without package name"
When using a static classes, randori seems to compile it without the package name.
for example in the threejs interop library, if you use:

AS:
var texture:Texture = ImageUtils.loadTexture( 'images/crate.gif' );

the output is as follows:

JS:
var texture = ImageUtils.loadTexture("images\/crate.gif");

However based on the metadata [JavaScript(export="false", name="THREE.ImageUtils")]
it should be

[2013-06-03 03:33] labriola commented on #86
Pete, I think this is a duplicate of https://github.com/RandoriAS/randori-compiler/issues/37. @teotigraphix can verify, but it should be fixed when the team produces a new plugin... I am going to push for a new plugin with the compiler fixes (and without the bundle work) in the next day or so.

[2013-06-03 10:19] teotigraphix commented on #86
@peteshand @labriola Yes, this is fixed. Pete, unfortunately there was a major amount of work done in the plugin with bundles/compiler which took weeks. The command line compiler was being updated accordingly but the plugins compiler has not be updated since the plugin was released in mid April.

There is a next version of the plugin that is being tested with many many fixes and bundle support. So

[2013-06-03 10:19] #86 closed, assigned to nobody

[2013-06-04 00:39] peteshand commented on #86
Awesome, I can live with the command line compiler being up to date for the time being :D

[2013-06-06 08:58] teotigraphix opened #87 "super call not transformed for accessor"

[2013-06-06 10:15] teotigraphix commented on #87
commit      d8ef104

[2013-06-06 10:15] #87 closed, assigned to teotigraphix

[2013-06-06 10:19] teotigraphix opened #89 "overridden acccessor fouls transformations of accessor calls"
if a class overrides an accessor and the class uses that override
the accessor generation messes up and does not transform the accessor with parenthesis

[2013-06-06 10:38] teotigraphix commented on #89
This was not a bug, in a test I wrote, I forgot to add the 'get' to the override which then made it a function not an accessor. I ended up writing a test anyway for it.

commit      9e9d403

[2013-06-06 10:38] #89 closed, assigned to teotigraphix

[2013-06-07 17:52] renaun opened #93 "Various Compiler Issues: static RegExp, object, and multiple class definitions"
Here is the AS3 class with all the issues in it:

[code]

This was tested with 0.2.4.8.

Issue #1: REGEXP is blank in JS code:
line = line.replace(, "");

Issue #2: SAMPLEMAP[ D2 ] = new Sampler(D2); turns in to the JS code:
[a2d] = new Sampler(a2d);
It should be something like:
SAMPLEMAP[a2d] = new Sampler(a2d);

Issue #3: Sampler class declared in the same file:
The extra declared classes in the

[2013-06-08 11:14] teotigraphix commented on #93
commit 050d9e8

Moving internal class issue to a new issue.

[2013-06-08 11:14] #93 closed, assigned to teotigraphix

[2013-06-08 11:18] teotigraphix opened #95 "package internal classes are not being generated nor are accessible"
From issue#93

The extra declared classes in the file (aka: Sampler) are not generated and cause 404 error. Need to also apply the package of the main class probably instead of assuming its just a class with no package.

The fix is to name the class MyInternalClass$MyPublicClass and transform all access within the class to the qualifiedname.

These classes will be generated just after the main cla

[2013-06-08 13:42] teotigraphix commented on #95
commit      7387f04

[2013-06-08 13:42] #95 closed, assigned to teotigraphix

[2013-06-08 13:44] teotigraphix commented on #95
I'm thinking these inner classes might still be added to the deps which they are not needed since they are internal and always generated right next to the public class.

[2013-06-08 17:12] renaun opened #97 "Bug: Static Strings with full Path and Namespaces"
Here is the code to recreate the bugs, create a folder called bug and put these two files in it:

bug/bug_internal.as:
package bug
{
public namespace bug_internal;
}

bug/BugB.as:
package bug
{
import bug.bug_internal;
public class BugB
{
    public static const CONNECT : String = "connect";

[code]

}
}

Here is the JS output snippet of the full path to static const string error:
this.addEventLis

[2013-06-08 17:26] renaun opened #98 "Bug: Static function reference error"
Here is the code to reproduce:
package bug
{
public class BugC
{
    private static var initialized:Boolean = false;

[code]

}
}

Snippet of the JS output looks like:
bug.BugC = function() {
    this.initialized = false;
    if (!bug.BugC.initialized)
        init();
};

bug.BugC.initialized = false;

bug.BugC.init = function() {
};

But the init() call should look like:
bug.BugC.init()
just like

[2013-06-08 17:34] renaun opened #99 "Bug: "is" operator doesn't have full path of class on right side"
AS 3 Code (2 classes):
bug/BugD.as:

[code]

bug/BugE.as:

[code]

Snippet of JS output:

[code]

Should be:

[code]

[2013-06-08 18:55] labriola commented on #99
Well, the compiler output is  bug... however, even if it compiled correctly, this isnt going to work. These constructs dont exist in javascript in the same way as action script... so we are now talking about emulating a different virtual machine instead of cross compiling a language. This is going to be a problem and I think the larger issue needs to be discussed at length

[2013-06-08 19:17] labriola commented on #99
okay, once we fix the compiler issue, i think ii see a path to resolve my other concerns

[2013-06-08 19:32] teotigraphix commented on #99
ah ok, it took me a second to see what was going on. So its not emitting the qualified name.

[2013-06-08 19:50] renaun opened #100 "Bug: Static class reference not making it into getClassDependencies"
AS3 Classes -

bug/BugF.as:
package bug
{
public class BugF
{
    public function BugF() {
        addEventListener(BugEvent.SOME_EVENT, null);
    }

[code]

}
}

bug/BugEvent.as:
package bug
{
public class BugEvent
{
    public static const SOME_EVENT : String = "someEvent";
}
}

Output of BugF JS is this:
if (typeof bug == "undefined")
    var bug = {};

bug.BugF = function() {
    this.addEven

[2013-06-08 20:13] teotigraphix commented on #100
@renaun yeah there are a couple cases where we add dependencies so I will get this, but if its a constant, the compiler should just be putting a string in there.

[2013-06-08 20:28] renaun commented on #100
Agreed on the constant thing. It also happens for the case of a parameter in a method as well. So add this method to the class:

public function someHandler(event:Event) {}

[2013-06-08 20:35] labriola commented on #100
you can aadd the static dependencies but stop short of method args.... we do not want to do that without significant discussion

[2013-06-08 20:37] teotigraphix commented on #100
yeah I was wondering about args as well, seems like it doesn't make sense for javascript

[2013-06-08 20:40] teotigraphix commented on #97
commit 7349a90

[2013-06-08 20:40] #97 closed, assigned to nobody

[2013-06-08 20:40] labriola commented on #100
YYep, and if we did args the recursive class loading stuff would pretty much undo everything we have working. Need to be careful on sstuff like that. Args shouldn't be needed as they are defined when a method is invoked, not by the method. Also breaks polymorphism, etci

[2013-06-08 20:41] teotigraphix commented on #98
commit 7349a90

[2013-06-08 20:41] #98 closed, assigned to nobody

[2013-06-08 20:41] teotigraphix commented on #99
commit 7349a90

[2013-06-08 20:41] #99 closed, assigned to nobody

[2013-06-08 21:23] teotigraphix commented on #100
This is fixed with the dep, but I still have to work on the constant resolve. I am closing this issue but will work on the resolving later.

commit 69d32d5

[2013-06-08 21:23] #100 closed, assigned to nobody

[2013-06-08 22:28] renaun opened #103 "Bug: Static class reference not making it into getClassDependencies (new scenario)"
[code]

[code]

The BugMode doesn't show up in the dependency chain but BugEvent does.

[2013-06-08 22:39] renaun opened #104 "Bug: Missing class path"
Here are the AS3 classes:

[code]

[code]

The resulting JS snippet in BugG is:

[code]

But should be:

[code]

[2013-06-08 22:55] renaun opened #105 "Bug: Removed parenthesis"
[code]

Turned into this in JS:

[code]

But should be:

[code]

Note the missing () around the "this instanceof flash.display.Stage" code

[2013-06-08 23:07] renaun opened #106 "AS3 Language Issue: AS3 with only a function in it"
Here is a valid as3 file:

[code]

In the output JS it treats it like a class which I think is wrong. Here is the JS:

[code]

When called in JS as flash.utils.getTimer() it throws an JS error of: Object #<Object> has no method 'getTimer'

Not sure what the JS is suppose to be.

[2013-06-08 23:43] labriola commented on #106
yes, we came across this before and actually agree it shouldnt be a class (although we still need to deal with dependencies like it is). i am curious about the error you received though and will look. we use package level functions in our unit tests without issue presently

[2013-06-09 10:43] teotigraphix commented on #103
commit      9d32f00

[2013-06-09 10:43] #103 closed, assigned to nobody

[2013-06-09 10:44] teotigraphix commented on #104
commit      9d32f00

[2013-06-09 10:44] #104 closed, assigned to nobody

[2013-06-09 10:44] teotigraphix commented on #105
commit      9d32f00

[2013-06-09 10:44] #105 closed, assigned to nobody

[2013-06-09 10:45] teotigraphix commented on #106
@renaun Don't know hat to say about this one. As Mike said we have talked about this and I implemented it the way you see for his unit testing in javascript. So until you guys figure out a solution, I can't really do anything here.

[2013-06-10 22:12] renaun commented on #106
looks like its just a JS path issue. Outputted JS was just:
getTimer()
and needs to be:
flash.utils.getTimer()

[2013-06-11 00:49] renaun opened #110 "Bug: Class reference is missing this when using it to instantiate a object"
AS3:

[code]

Outputted JS snippet:

[code]

Which should be:

[code]

Not the missing "this." before tempClass()

[2013-06-11 04:31] renaun opened #111 "Bug: Missing path on class declaration when in an Array"
AS3 Code:

[code]

Snippet of JS code:

[code]

And it should be:

[code]

Not the missing "bug." path on BugH declaration.

[2013-06-11 05:09] renaun opened #112 "Bug: Extra right parenthesis on this.x += obj.x;"
AS3 code:

[code]

JS snippet code:

[code]

Should be:

[code]

The extra ")" parenthesis after obj.x is wrong for sure. It also looks like that var obj = {get_x():2}; should be var obj = {x:2};

[2013-06-12 10:52] teotigraphix commented on #112
This was just a mistake on my part in the write() method having two `))`

commit      48a3fe7

[2013-06-12 10:52] #112 closed, assigned to nobody

[2013-06-12 10:52] teotigraphix commented on #111
commit  48a3fe7

[2013-06-12 10:52] #111 closed, assigned to nobody

[2013-06-12 10:53] teotigraphix commented on #110
commit

[2013-06-12 10:53] #110 closed, assigned to nobody

[2013-06-12 11:12] teotigraphix commented on #106
commit 336b89d

[2013-06-12 11:12] #106 closed, assigned to nobody

[2013-06-12 19:34] renaun opened #115 "Feature Request: Embed to JS"
There are many ways this can be done, and full embedding might be possible in the future with base64 injection. But I believe people might want an easy option to also just load at runtime.

Feature Request:
AS3:

[code]

JS Snippet of relevant parts:

[code]

Dependency:
Class name to use in the compiler output, hard code to flash.utils.Embed or make it a compiler option. I vote for hard code for

[2013-06-12 20:45] labriola commented on #115
lets discuss tomorrow. i am just not 100% sure that this makes sense in the browser

[2013-06-14 00:19] renaun opened #117 "Bug: Remove any internal class dependencies from the getClassDependency array"
AS3

[code]

Outputs this JS:

[code]

We need to just remove the line:

[code]

This is because the guice framework will try and go load a bug/BugA$Sampler.js file which is not valid

[2013-06-14 00:40] renaun opened #118 "Bug: Static properties/methods (not const) are not being added to class dependency list"
AS3

[code]

BugMode.as:

[code]

BugMode2.as:

[code]

BugMode3.as:

[code]

JS output file only addes BugMode to class dependency list, we need it to add BugMode2 and BugMode3 as well.

[2013-06-14 00:53] renaun opened #119 "Bug: Function as a class not showing up in class dependency list"
bug/BugL.as

[code]

trace.as:

[code]

JS output class of BugL

[code]

It should have "trace" added to the class dependency list;

[code]

[2013-06-14 10:00] teotigraphix commented on #119
commit      64620c6

[2013-06-14 10:00] #119 closed, assigned to teotigraphix

[2013-06-14 10:01] teotigraphix commented on #118
commit      64620c6

[2013-06-14 10:01] #118 closed, assigned to teotigraphix

[2013-06-14 10:01] teotigraphix commented on #117
commit      64620c6

[2013-06-14 10:01] #117 closed, assigned to teotigraphix

[2013-06-14 11:15] renaun opened #121 "Bug: Class in array doesn't make it into class dependency path"
AS3:

[code]

The JS output doesn't have "trace" class in the dependency list. It should appear in the class dependency list.

[2013-06-14 11:42] teotigraphix commented on #121
commit      eb2476b

[2013-06-14 11:42] #121 closed, assigned to teotigraphix

[2013-06-14 12:24] renaun opened #123 "Bug: Class doesn't make it into class dependency path"
AS3:

[code]

The "trace" class never makes it into the class dependency list

[2013-06-14 12:37] teotigraphix commented on #123
@renaun @labriola ok this is getting annoying, I am really trying to NOT put this stuff in the identifier cause then we are going to have an explosion of dependencies where you don't want them.

I will wait to fix this until you try and find more.

[2013-06-17 18:57] renaun opened #124 "Bug: Constructor extra super call"
AS3:

[code]

[code]

The output JS snippet is:

[code]

The first "bug.BugSuperTest.call(this);" should not be there.

Not sure this means consideration should be taken to only call it if there is a super present and move the Randori logic of setting var's in the constructor to a new randori specific function that then is inlined at the top of each constructor. This new Randori specific method fo

[2013-06-17 19:02] renaun opened #125 "Bug: Vector instantiation losing init values"
AS3:

[code]

JS Snippet:

[code]

There should be "this.mQuadBatches = [new Object()];"

[2013-06-17 19:06] renaun opened #126 "Bug: Private static not getting full path"
AS3:

[code]

JS Snippet:

[code]

The "var s = get_myObject();" should be "var s = bug.BugO.get_myObject();"

[2013-06-17 19:09] renaun opened #127 "Bug: String.fromCharCode with multiple parameters"
AS3:

[code]

JS Snippet:

[code]

Output:
String.fromCharCode(chars[0]);

Expected:
String.fromCharCode(chars[0], chars[1], chars[2]);

[2013-06-18 14:21] renaun opened #129 "Bug: Setter with ++ operator is not correct"
AS3:

[code]

JS Snippet:

[code]

The "count++" does not generate correct JS code but the next line does

[2013-06-21 09:52] teotigraphix commented on #124
@renaun @labriola @rolandzwaga This looks ridiculous, this isn't really even correct in the AS3 spec, I'm not touching this until there is a consensus

[2013-06-21 10:18] rolandzwaga commented on #124
Honestly, I don't see how that code isn't following the AS3 spec, can you point out where you come to this conclusion? Calling a super constructor conditionally doesn't seem that heretical to me. Which part seems ridiculous to you?

[2013-06-21 10:25] teotigraphix commented on #124
well then I have to much Java in me, I thought constructor calls had to come first and were called implicitly if not explicitly. but maybe I am thinking a different language.

Still didn't answer his question about the inline randori stuff.

[2013-06-21 11:00] rolandzwaga commented on #124
I don't really follow the whole inline thing, I'm hoping @labriola will be able to say something more sensible about this.

[2013-06-21 12:35] teotigraphix commented on #124
I'm not fixing this right now. The amount of logic and traversal needed to deal with this crappy code is unreal. Might look at it when I have time but this is an edge case since its the constructor. Other super.foo() do not apply to this problem. So like I said, with this implemented a performance hit is going to happen because EVERY constructors body will need to be scanned.

[2013-06-21 12:36] teotigraphix commented on #124
OR I remove the implicit constructor call, chicken and egg since we are dealing with javascript here

[2013-06-21 12:42] rolandzwaga commented on #124
Sounds fair to me to be honest, hoping other will chime in.

[2013-06-21 12:45] #123 closed, assigned to nobody

[2013-06-21 12:45] #125 closed, assigned to nobody

[2013-06-21 12:45] #126 closed, assigned to nobody

[2013-06-21 12:45] #127 closed, assigned to nobody

[2013-06-21 12:45] #129 closed, assigned to nobody

[2013-06-21 17:13] renaun commented on #126
This seemed to work for some code but not other code, here some code that I am looking at.

AS3

[code]

The outputted (2.4.22c) JS:

[code]

There are a few places that the get_sNativeTextField() gets the whole path but other places it does not.

[2013-06-21 17:20] renaun opened #130 "Bug[Dependency Path]: Class in array doesn't make it into class static dependencies"
AS3 Code:

[code]

Snippet of JS code:

[code]

And it should be:

[code]

[2013-06-21 17:22] teotigraphix commented on #126
yeah ok, we are getting to a point where I am going to need some time to eventually refactor this naming stuff.

Randdori extremly complicates output by its metadata and accessor renaming. So log them up and I will need to write a full unit test based on all possibilities know thus far.

[2013-06-21 17:24] renaun commented on #126
Want me to create a new issue with all the possibilities or just add to this issue?

[2013-06-21 17:26] teotigraphix commented on #126
yeah if you could do that(new issue) and just update it. that way I can have one test that tests all the things your are hitting.

[2013-06-21 17:32] renaun opened #131 "Bug[Dependency Path]: Various class declarations inside class method not getting into runtime dependencies"
AS3

[code]

BugMode.as:

[code]

BugMode2.as:

[code]

BugMode3.as:

[code]

JS output file only addes BugMode2 to runtime dependency list, we need it to add bug.BugMode and bug.BugMode3 as well.

[code]

[2013-06-21 17:39] renaun opened #132 "Bug: Private static not getting full path (expanded)"
AS3:

[code]

JS Snippet:

[code]

The "var s = get_myObject();" should be "var s = bug.BugO.get_myObject();" for all cases it only does some of them. Or if you use BugO.myObject it gets 2 paths. Here is the full expected output:

[code]

[2013-06-21 17:43] teotigraphix commented on #132
this has to do with arguments, I forgot to re-enable arguments, so you might run into a lot of them that are inside function call arguments

[2013-06-24 13:58] teotigraphix commented on #130
@renaun I just tested this with your exact setup and I get;

[code]

using;

[code]

[2013-06-24 16:02] teotigraphix commented on #132
I have a test for this, it passes. I am generating a new compiler, you can test again with it.

[2013-06-24 16:04] renaun commented on #130
i'll try again and let you know

[2013-06-24 17:19] teotigraphix commented on #132
commit 2790893757938797f99f5a699d00c8dd10d8b202

[2013-06-24 17:19] teotigraphix commented on #131
commit 2790893757938797f99f5a699d00c8dd10d8b202

[2013-06-24 17:19] #131 closed, assigned to nobody

[2013-06-24 17:19] teotigraphix commented on #130
commit 2790893757938797f99f5a699d00c8dd10d8b202

[2013-06-24 17:19] #130 closed, assigned to nobody

[2013-06-24 17:58] labriola commented on #124
okay so the way the flash compiler works is that it always autogens one _unless_ there is a super call somewhere else in the method hence, if you dont want super called you need to do something dumb (in flash) like this

if ( false )
  super.foo();

so that it doesnt generate its own

so, i agree its a bug. how bad is the fix?

[2013-06-24 18:10] teotigraphix commented on #124
I can fix it, I have a nice little majic trick in the compiler that can switch to a buffer temporarily. This might be fixed in an hour or so.

[2013-06-24 18:28] rolandzwaga opened #136 "Randori compiler needs a reserved word check for JS"
Not all JS reserved words generate an error in Randori. Not even will some of these reserved words cause an error in a lot of browsers, but, the Google Closure compiler DOES choke on it. We need to keep Closure happy for obvious reasons, so here is a list of reserved words for JS, the compiler should throw an error when they are used in the wrong places:

abstract
boolean break byte
case catch cha

[2013-06-24 18:55] teotigraphix commented on #124
commit      e532dac

[2013-06-24 18:55] #124 closed, assigned to nobody

[2013-06-24 19:54] teotigraphix opened #138 "rbl .js files are not copied into the js-lib directory during app compile"
only the sdk files are being copied

[2013-06-24 22:39] teotigraphix commented on #138
commit      4421ea3

[2013-06-24 22:39] #138 closed, assigned to nobody

[2013-06-25 00:52] renaun commented on #132
2.4.26 still has this issue for me, do you want me to get you the full AS3 that is not working on my end?

[2013-06-25 09:48] teotigraphix commented on #132
Yeah I guess, I need the exact setup since I actually have a test for this.

[2013-06-25 14:16] rolandzwaga opened #140 "Using a class that is annotated with mode="json" yeilds an empty .as file when used"
I have an interop class that looks like this:

[JavaScript(export="false", mode="json", name="Object")]
public class CharacterParam {

[code]

}

This class is used as a method argument:

public function character(param:CharacterParam=undefined):String;

Now, when I used this in my code like this:

var chance:Chance = new Chance();
chance.character(new CharacterParam(undefined, true, "bla"));

I r

[2013-06-25 17:05] teotigraphix commented on #140
commit 02469beaf81bb3537d2672f2eb8318fe15dccf3e 0.2.4.28

[2013-06-25 17:05] #140 closed, assigned to teotigraphix

[2013-06-25 18:44] renaun commented on #132
Here is the AS3 out of the class that isn't working for me:

[code]

I can also provide the full class file if you want

[2013-06-25 19:39] teotigraphix commented on #132
Are you talking about 'sNativeTextField'?

If so, then this might be a left hand binary problem, since my test had to do with right hand resolution.

Will check it out.

[2013-06-25 19:40] renaun commented on #132
yes its sNativeTextField, and the original bug example did have some left hand examples above. Sorry if that wasn't clear.

[2013-06-25 21:05] renaun opened #142 "Bug: Super default args not being set"
AS3 classes:

[code]

[code]

The outputted JS fro bug.BugE is:

[code]

but should be:

[code]

[2013-06-26 00:23] renaun opened #143 "Bug: +=/-= operator issues"
AS3

[code]

[code]

The BugR's JS output looks like this:

[code]

But it should be:

[code]

It scopes it right for local properties but it seems to replace "this" for any object that is doing a operator like +=.

[2013-06-26 13:21] teotigraphix commented on #142
@renaun this has to do with ALL function calls. I am working on a solution. This implementation changed when we removed the if() defaults in a previous impl.

[2013-06-26 13:23] renaun commented on #142
other function calls seem to be getting the arguments correctly but the .call seem to act differently

[2013-06-26 13:24] teotigraphix commented on #142
you mean defaults work correctly? if you were to use the same scenario above but with normal methods?

[2013-06-26 13:26] teotigraphix commented on #142
I know it dosn't work with this `super.foo("something");` but that is a call as well

[2013-06-26 13:26] renaun commented on #142
Yeah if I do this in AS3:

var dd:BugD = new BugD("2nd");

it correctly creates:

var dd = new bug.BugD("2nd", "randori");

[2013-06-26 13:30] teotigraphix commented on #142
BaseA

[code]

BaseB

[code]

Correctly outputs;

[code]

So I was wrong in thinking this has to do with everything.

I might actually know the problem now.

Thanks

[2013-06-26 13:31] teotigraphix commented on #142
And yes it just seems to be with the super() calls either a constructor call or a member super call `super.foo()` call

[2013-06-26 15:21] teotigraphix commented on #132
commit      1268ece

[2013-06-26 15:21] teotigraphix commented on #142
commit      1268ece

[2013-06-26 15:21] #142 closed, assigned to nobody

[2013-06-26 15:22] teotigraphix commented on #143
commit      1268ece

[2013-06-26 15:22] #143 closed, assigned to nobody

[2013-06-26 15:32] renaun commented on #132
confirmed its fix in the having the trouble thx

[2013-06-26 15:37] renaun commented on #142
fixed thx

[2013-06-26 15:44] renaun commented on #143
fixed

[2013-06-26 16:11] renaun opened #145 "Bug: Double static paths"
AS3:
Sounds.sndBgMain.play(0, 999);

In the Sounds class it looks like:
public static var sndBgMain:Sound = new Sound();

Is turning into JS:
com.hsharma.hungryHero.Sounds.com.hsharma.hungryHero.Sounds.sndBgMain.play(0, 999);

Expected:
Only one path:
com.hsharma.hungryHero.Sounds.sndBgMain.play(0, 999);

Might be related is this code:
var scale:Number  = Starling.contentScaleFactor;

Starling.con

[2013-06-26 16:15] renaun opened #146 "Bug: Missing path on class declaration when in class instantiation"
AS3:
private function drawGame():void
{
    particleCoffee = new PDParticleSystem(XML(new ParticleAssets.ParticleCoffeeXML()), Texture.fromBitmap(new ParticleAssets.ParticleTexture()));
}

JS:
com.hsharma.hungryHero.screens.InGame.prototype.drawGame = function() {
    com.hsharma.hungryHero.screens.InGame.particleCoffee = new starling.extensions.PDParticleSystem(new com.hsharma.hungryHero.Particle

[2013-06-26 17:14] renaun opened #147 "Bug: Multiple declarations"
AS3:
mHelperImage.scaleX = mHelperImage.scaleY = charLocation.scale;

JS:
this.mHelperImage.set_scaleX(this.mHelperImage.set_scaleY(charLocation.scale));

Expected JS:
this.mHelperImage.set_scaleY(charLocation.scale);
this.mHelperImage.set_scaleX(this.mHelperImage.get_scaleY());

There is cases where it looks like this:
eatParticleToTrack.scaleX = eatParticleToTrack.scaleY = Math.random() \* 0.3 +

[2013-06-26 18:38] teotigraphix commented on #146
commit      4184ac4

[2013-06-26 18:38] #146 closed, assigned to nobody

[2013-06-26 18:38] teotigraphix commented on #145
commit      4184ac4

[2013-06-26 18:38] #145 closed, assigned to nobody

[2013-06-26 21:53] renaun commented on #145
the 2nd part is not fixed:

var scale:Number = Starling.contentScaleFactor;
or
mScaleFactor = scaleFactor > 0 ? scaleFactor : Starling.contentScaleFactor;

Create in JS:
starling.core.Starling.starling.core.Starling.get_contentScaleFactor()

[2013-06-26 21:59] renaun commented on #146
seems to be fixed

[2013-07-10 10:29] teotigraphix opened #157 "Constant reducing regression bug"
constants are not reducing correctly after the static changes mad a few weeks ago

[2013-07-15 15:48] renaun opened #162 "Bug: Super being applied to dynamic functions"
AS3:

[code]

[code]

Outputted JS:

[code]

The ", , 67, 1532" should not be in the "this.num = parseFloat(x.attribute("name", , 67, 1532));" line of code. The ", , 67, 1532" seems to be coming from the BugT's constructor structure.

[2013-07-15 16:00] teotigraphix commented on #162
I have to say, this is probably the finniest bug I have seen yet. Obviously a variable somewhere messing with me.

[2013-07-15 16:04] renaun commented on #162
yeah, i forgot to mention this worked fine in 2.4.26, but after that the bug showed up. But that is probably related to that other "super" changes that where made.

[2013-07-15 16:11] teotigraphix commented on #162
It has to do with default args in the function call, I already found the bug.

[2013-07-15 16:23] teotigraphix commented on #162
commit      dd2c58d

[2013-07-15 16:23] #162 closed, assigned to nobody

[2013-07-15 16:23] #157 closed, assigned to teotigraphix

[2013-07-15 16:23] teotigraphix commented on #147
pending get/set properties

[2013-07-15 16:39] renaun commented on #132
Added a case where it ends up with duplicate paths:

[code]

If the BugO is used to qualify the static property it gets 2 paths where it should only have one.

[2013-07-15 18:25] renaun opened #164 "Bug: Full qualified class references still get added class path"
AS3:

[code]

Output this:

[code]

The 2nd one has an extra "bug." in it.

[2013-07-15 18:30] teotigraphix commented on #164
Ah yes, doesn't look like there is a check whether the name is qualified in a member access expression.

[2013-07-15 19:56] renaun opened #165 "Bug: Path on static method not right"
AS3 snippets:

[code]

Has JS like:

[code]

But should be:

[code]

[2013-07-15 20:03] teotigraphix commented on #165
Ok some of these things you are running into have to do with when I changed logic from static and runtime deps.

I'm just waiting a day or so while you test these things to work on them all at once.

[2013-07-15 20:03] teotigraphix commented on #165
BTW, I have 430 tests and they all pass, so whatever is failing right now I don't have tests for. So this isn't necessarily a bad thing.

[2013-07-15 20:28] renaun opened #166 "Bug or JS/AS3 limitation: Initilizing Array/Vector"
AS3 Code:

[code]

Outputted JS:

[code]

But it really should be something like this:

[code]

[2013-07-15 20:48] teotigraphix commented on #166
Well for a Vector, I know exactly where that is, is the length the only possible arg or can you pass and array also? I forget (I would have to look at the language ref :) ).

[2013-07-15 20:50] renaun commented on #166
You can pass in an array to initialize it, so there is a case there too

var vector:Vector.<String> = Vector.<String>(["v1", "v2", "v3"]);

[2013-07-15 23:29] renaun opened #167 "Bug: getter/setter with Function param not getting a staticDelegate"
AS3:

[code]

Outputted JS:

[code]

expected:

[code]

[2013-07-15 23:31] labriola commented on #167
Renaun, is gameOverFadedOut a method of the class?

[2013-07-15 23:42] renaun commented on #167
yes

[2013-07-15 23:55] renaun commented on #167
There is this other bug which might be related to the logic of when to apply the createStaticDelegate. Its when a function is passed into a function and then used it gets another createStaticDelegate applied:

[code]

Is turning into JS of:

[code]

but should be:

[code]

[2013-07-16 10:23] teotigraphix commented on #167
@labriola  Am I still putting time in the accessor properties? What is going on with that?

[2013-07-19 06:57] rolandzwaga opened #168 "Enforce minimim supported SDK"
When the compiler is invoked with an SDK that has a version lower than the supported minimum version, there ought to be a fail-fast system that cancels the compilation with an error message such as:
"The current SDK version (<sdk-version>) is not compatible with the current compiler version (<compiler-version>), please upgrade the SDK to at least version <minimum-supported-version>"

[2013-07-31 01:22] renaun opened #169 "Bug: Multiple declarations in for() causes compiler error"
AS3

[code]

Compiler outputs:
java.lang.RuntimeException: handle() not found org.apache.flex.compiler.internal.tree.as.ContainerNode
    at randori.compiler.internal.visitor.as.ASNodeSwitch.handle(ASNodeSwitch.java:356)
    at randori.compiler.internal.visitor.as.ASNodeHandler.handle(ASNodeHandler.java:86)
    at randori.compiler.internal.visitor.as.BeforeAfterStrategy.handle(BeforeAfterStrategy.

[2013-08-12 11:01] teotigraphix commented on #132
I just tried this and for;

[code]

I get;

[code]

[2013-08-12 11:27] teotigraphix commented on #164
commit      235646f

[2013-08-12 11:27] #164 closed, assigned to nobody

[2013-08-12 12:29] teotigraphix commented on #165
commit      64bb753

[2013-08-12 12:29] #165 closed, assigned to nobody

[2013-08-12 12:49] teotigraphix commented on #166
commit      ee78d0a

[2013-08-12 12:49] #166 closed, assigned to nobody

[2013-08-12 13:38] teotigraphix commented on #167
commit fff45f4
@renaun Please file another bug if your last example is still not working, I need EXACTS for this type of stuff, I mean exact test case

[2013-08-12 13:38] #167 closed, assigned to nobody

[2013-08-12 14:01] teotigraphix commented on #169
commit      ae5e691

[2013-08-12 14:01] #169 closed, assigned to nobody

[2013-08-12 14:29] renaun commented on #132
I just ran 2.6 and get this:

[code]

AS3 is:

[code]

[2013-08-12 14:41] renaun opened #176 "Bug: Nested for loops variable declarations are same"
AS3:

[code]

JS:

[code]

The var $1 is reused which makes for bad side effects.

[2013-08-12 14:57] renaun opened #177 "Feature: Factory class for Embeds"
Added metadata for specific embed factory class.

Take this AS3:

[code]

And create JS like this:

[code]

factoryClass = Factory method class which takes a type and properties
Any metadata properties in the [Embed] end up in the object parameter of the function. Also any other properties in the [Factory] metadata that are not factoryClass or type are added in to the properties object.

[2013-08-12 16:00] teotigraphix commented on #177
commit 737ff8d

[2013-08-12 16:00] #177 closed, assigned to nobody

[2013-08-12 16:01] teotigraphix commented on #176
commit 056aef4

[2013-08-12 16:28] teotigraphix commented on #132
@renaun ok, I have a test on a static field but this looks like its an acessor bug

[2013-08-12 16:53] teotigraphix commented on #132
commit 6763bc8

[2013-08-12 16:53] #132 closed, assigned to nobody

[2013-08-12 18:13] renaun opened #180 "Bug: Static function reference with class path in Static method"
[code]

Wrong JS:

[code]

Extra path should not be there on 2nd line of code

[2013-08-12 18:21] teotigraphix commented on #180
yeah, this is like chasing my tail, all tests pass so this has to do with the create delegate code. I'm doing something funky

[2013-08-12 19:30] renaun commented on #176
Different var names where added but its still not fully correct.

[code]

should look like:

[code]

or something like this

[code]

[2013-08-12 19:49] teotigraphix commented on #176
ah I can't believe that, I WAS an idiot and incremented numbers, where I should have done like you showed and used a prefix so my numbers were unique

[2013-08-12 20:00] renaun opened #181 "Regression: Static being applied to getters???"
AS3:

[code]

pre 2.6.2 compiler which is correct:

[code]

2.6.2 wrong output:

[code]

[2013-08-12 20:23] teotigraphix commented on #181
nope this had to do with my last change. This stuff seriously has to be refactored, its just going to be dumb things like this that come up.

[2013-08-28 14:06] doublefx opened #184 "NPE in DefinitionNameUtils.toExportQualifiedName() when compiling global functions"
[code]

NPE in DefinitionNameUtils.toExportQualifiedName(DefinitionNameUtils.java:56):

[code]

I quickly fixed it:

[code]

It generates:

[code]

[2013-08-28 14:14] doublefx commented on #184
Well, after my change, it compiles but **internal var _noop:Function = new Function();** is never generated :P

[2013-08-28 14:33] doublefx commented on #184
Same with or without **[JavaScript(mode="global")]**

[2013-08-28 15:02] doublefx commented on #184
It seems to be an issue with the **internal** NS, I just tried this:

[code]

and had only the InternalClassWithBody generated:

[code]

[2013-08-30 21:39] doublefx opened #185 "incremental compilation doesn't recompile when only metatag has changed"
Using -include-sources=pathToMyFile.as
The file is not recompiled if only the metatags are changes, ex:

[JavaScript(mode='proto')] to
[JavaScript(mode='global')]

I had to remove the metatag and send the same arguments to the compiler to had it recompiled.

[2013-08-31 01:10] doublefx opened #186 ".swc are not generated to .js"
this is what I passed to the compiler:

-library-path=F:/sources/randori/randori-demos-bundle/HMSS/libs/asLib.swc
-source-path=F:/sources/randori/randori-demos-bundle/model/src
-source-path=F:/sources/randori/randori-demos-bundle/service/src
-source-path=F:/sources/randori/randori-demos-bundle/HMSS/src
-sdk-path=F:/sources/randori/randori-sdk
-app-name=randori-demos-bundle
-js-base-path=generated

[2013-08-31 08:43] rolandzwaga commented on #186
Randori cannot compile a binary swc, it needs actual AS3 source code to compile.
The only type of swc that can be added dirtectly as a dependency is an interop library, since doesn't require any AS3 to be cross-compiled.

[2013-09-01 12:23] peteshand opened #187 "Interface type casing is not being removed in compiled JS"
Interface type casing is not being removed resulting in:
Uncaught ReferenceError: 'InterfaceClassName' is not defined.

In the following example the class "TestInterface" implements "ITestInterface"
AS source code:

[code]

Should compile to:

[code]

However is currently compiling to:

[code]

[2013-09-01 19:59] #186 closed, assigned to nobody

[2013-09-19 10:00] peteshand opened #188 "setter function issue"
If multiple = are used on a single line with setter functions only the last setter is set correctly.

Actionscript:

private var _test:String = "";
private var _test2:String = "";

public function DoubleTest()
{
        test = test2 = 'test123';
        Window.console.log(_test); // Output undefined
        Window.console.log(_test2); // Output 'test123'
}

public function set test2(value:String):

[2013-09-19 11:14] rolandzwaga commented on #188
Hi there, thanks for the report. Currently we don't have anyone working on the compiler, so I can't tell you when this will be fixed. For now, put the assignments on separate lines to work around this.

[2013-09-19 12:36] peteshand commented on #188
Yep, doesn't look like there is much activity.
Yeah I've just split everything onto separate lines for the time being, but thought it would be good to list the issue here, either for the next person that encounters the problem, or so someone fixes it next time they're working on the compiler... unfortunately there seems to be quite a few weird edge cases that trip Randori up.

[2013-09-19 12:40] rolandzwaga commented on #188
Indeed, whenever you find an issue, please keep posting them here.
We're aware of a lot of edge cases, the problem is that Randori needs to support IE8 (enterprises still use it a lot), therefore we need to generate this getter and setter functions, instead of using the Object.createProperty() method.
So, in the end, I'm not sure if we can support _every_ edge case out there, I'm afraid we'll have

[2013-09-20 23:11] peteshand opened #189 "Error when passing function as param with this. in front"
Actionscript:

[code]

Javascript:

[code]

notice that '(,' should actually be '(this,'
changing

[code]

to

[code]

results in the correct output:

[code]

work around, simply don't add this. infront of function when passing them as params.
But would be nice if the compiler took care of this.

[2013-09-21 03:12] peteshand opened #190 "Extending a class with an optional param in constructor creates errors"
[code]

[code]

The above actionscript creates the following SuperTest javascript:

[code]

Line 5 should read:

[code]

or at very least:

[code]

however it currently compiles to

[code]

work around is to manually set the Boolean in AS when calling super.

[code]

However this particular configuration appears to be creating other issues as well. For example if you create a new empty vector

[co

[2013-10-05 00:25] jeffxpx opened #191 "Compiler should throw a warning if classes set to export JSON have any logic in them"
This was originally going to be a bug report for JSON exports using the constructor argument names instead of class member names, but I realized how much work that would be to have the compiler use the class member names.

The compiler's emitters work on a statement by statement basis, so at emitting time, a constructor function written like this:

[code]

When the emitter is doing the export, the

[2013-10-14 12:36] peteshand opened #195 "Conditional compilation"
would be great to be able to add compiler conditionals:
eg:
Additional compiler options:
-define=CONFIG::debugging,true

Code:
CONFIG::debugging {
    window.alert('debugging');;
}

[2021-05-19 12:43] ROBERT-MCDOWELL opened #196 "is this project dead?"
with WASM coming it would be very useful thanks